body{
    text-align: center;
    background-color: grey;
}

h1 {
    background-color: blue;
    color: bisque;
    width: 40%;
    
    left: 0;
    right: 0;
    margin: auto
    
}

h2{
    background-color: lightblue;
    width: 40%;
    left: 0;
    right: 0;
    margin: auto
}
h3{
    background-color: white;
    width: 40%;
    left: 0;
    right: 0;
    margin: auto
}
p{
    background-color: red;
    width: 40%;
    left: 0;
    right: 0;
    margin: auto
}